<button (click)="Sunit()"layout-align="start center" class="glyphicon glyphicon-pencil" id ="editDelete">EditPost</button>

<div class = "panel panel-primary"*ngIf = "EditPostBlock">
  <div class = "panel-body" >
        <form>
            <div class="form-group">
                <label for="editPostTitle">Post Title</label>
                <input type="text" [(ngModel)]="authForm.postTitle" name = "postTitle" class="form-control" id="posttitle" placeholder="postTitle">
              </div>
            <div class="form-group">
              <label for="editPostDescription">Post Description</label>
              <input type="text" [(ngModel)]="authForm.postDescription" name = "postDescription" class="form-control" id="postDescription" placeholder="postDescription">
            </div>
           
            <button type="submit" class="btn btn-default" (click) = "updatePost()">Save</button>
          </form>
    </div>
  

</div>
