<div >
  <button class="btn btn-primary" (click) = "sunit()" >
      {{showcoments? "Hide Comment": "Show Comment"}}
  </button>
  
    <div *ngIf= "showcoments" class = "panel-body" >
      <div *ngFor = "let comment of comm;trackBy: trackComment">
        <div>
          <p >{{comment}}</p>
        </div>

         
      </div>
      <input type = "text" [(ngModel)] = "newComent" >
      <button class="btn btn-primary" (click)="addComment()">Add Comment</button>   
    </div>
</div>

<!-- <div class = "panel panel-primary">
    {{detailComment?.postTitle}}
    <div class = "panel-heading">
      {{detailComment?.postDescription}}
          <div class = "panel-body"  *ngFor = "let list of comm" >
             {{list}}
            <button>Edit</button>  <button>Like</button>  
            
          </div>
      </div>
</div> -->




 
